{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "10"
                }
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        ["import", {
            "libraryName": "@material-ui/core",
            "libraryDirectory": "esm", // default: lib
            "camel2DashComponentName": false, // default: true
        }]
    ]
}